.card {
  width: 190px;
  height: 200px;
  background: transparent;
  outline: 2px groove #ffffff;
  border-radius: 7px;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  background-color: #000000;
}

.card:hover {
 
  /*background: linear-gradient(135deg, rgba(0, 0, 0, 0.767), rgba(24, 23, 23, 0));
    -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);*/
  
  color: #ffffff;
  box-shadow: 2px 2px 15px #4d91d6 inset;
  /*background-color: transparent;*/
  border-radius: 50%;
  outline: 10px solid #33689D;
}

