
.contD{
    max-width: 40%;
    text-decoration-line: none;
    margin: auto;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius:30px 30px 30px 30px;
    padding-top: 1rem;
    color: azure;
    padding-bottom: 2rem;
    outline: 5px groove #3978A7;
    margin-top:10%;
    display: grid;
}

.imgD{
    border-radius: 30px;
    max-width: 50%;

}
.pd{
    padding-left: 2rem;
    padding-right: 2rem;
}
ul {
    list-style:none;
    padding:0;
    margin:0;

}